<div class="container">
  <div class="row">
    <div class="col s12" style="width: 480px; background-color:antiquewhite;">


      <div *ngIf="userForm.invalid && !formSubmitted" [ngClass]="'error'"> Form not validated. </div>
      <div *ngIf="formSubmitted" [ngClass]="'success'"> Form submitted successfully. </div> <br />
      <div class="form-group">
        <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
          <div>
            <label>
              Name:
            </label><br>
            <input mdbInput class="margin"  formControlName="name" placeholder="Enter Name"> 

            <div *ngIf="userForm.controls['name'].dirty  &&(userForm.controls['name'].errors || userForm.controls['name'].invalid)" class="error">
              <div *ngIf="userForm.controls['name'].errors?.required">
                Full name required.
              </div>
              <div *ngIf="(userForm.controls['name'].invalid&&!userForm.controls['name'].errors?.required && !userForm.controls['name'].hasError('minlength'))"class="error">
             Username Should be in required format
            </div>
            </div>
            <div *ngIf="userForm.controls['name'].hasError('minlength')"   class="error">
              Minimum length should be 3.
            </div>
            <div *ngIf="userForm.controls['name'].hasError('maxlength')" class="error">
              Maximum length should be 10.
            </div>

          </div>
          <div>
            <label>
                Phonenumber:</label>
                <br>
            <input mdbInput class="margin" formControlName="phonenumber" placeholder="Enter phonenumber ">
               <div *ngIf="userForm.controls['phonenumber'].errors?.required&&(userForm.controls['phonenumber'].dirty || userForm.controls['phonenumber'].touched)" class="error">
               phonenumber required.
              </div>
             <div *ngIf="userForm.controls['phonenumber'].invalid && !userForm.controls['phonenumber'].errors?.required&&
       
        (userForm.controls['phonenumber'].dirty || userForm.controls['phonenumber'].touched)" class="error">
Phonenumber should be 10 digit
          </div>

          </div>
 

<!---->
<mat-form-field>
        <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
          (dateChange)="date($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  





<!--
          <div>
            <label>
              dateofbirth:</label>
              <br>
            <input mdbInput class="margin"  formControlName="dateofbirth" placeholder="Enter dateofbirth ">
              <div *ngIf="userForm.controls['dateofbirth'].errors?.required&&(userForm.controls['dateofbirth'].dirty || userForm.controls['dateofbirth'].touched)" class="error">
               dateofbirth required.
              </div>
             <div *ngIf="userForm.controls['dateofbirth'].invalid && !userForm.controls['dateofbirth'].errors?.required&&
       
        (userForm.controls['dateofbirth'].dirty || userForm.controls['dateofbirth'].touched)" class="error">
Birthdate should be in yyyy-mm-dd format
          </div>

          </div>
        -->
          <div class="check">
            <label>Select gender:</label>
          <label class="forinline">
            <span>male</span>
     <input type="radio" value="Male" formControlName="gender"  checked class="box" style="margin-left: 12px">
       
   </label>
   <label class="forinline">
     <span>female</span>
     <input type="radio" value="Female" formControlName="gender"  class="box">
       
   </label>
          </div>
          <br>
          <div formArrayName="address">
            <label>Address:</label>
            <div *ngFor="let skills of address.controls; index as idx">
              <input mdbInput class="margin"  [formControlName]="idx" placeholder="Enter adddress{{idx+1}} ">
              
              <button class="marginp" type="button" (click)="addaddressField()" style="margin-left: 2px;height: 28px;"> <mat-icon>add</mat-icon></button>
          <button type="button" (click)="deleteaddressField(idx)" style="margin-left: 2px;height: 28px;"><mat-icon>delete</mat-icon></button>
            </div>
          </div>



<br>

          <div formArrayName="Subjects">
            <label>Subjects Marks:</label>
            <div *ngFor="let skills of Subjects.controls; index as idx" class="subjects">
              <input mdbInput class="margin" [formControlName]="idx"
                placeholder="Enter subjects marks of {{this.subjectlist[idx]}} ">
<div *ngIf="Subjects.controls[idx].invalid && (Subjects.controls[idx].dirty || Subjects.controls[idx].touched)" class="error">
      Please provide a valid marks between 0-100.
    </div>

            </div>

          </div>

          <div>
            <button type="submit" [disabled]="!userForm.valid" [disabled]="!userForm.valid">Submit</button>

          </div>
        </form>
        <div>
          <div class="col s7">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
