.form-group input{ 
    width: 320px;
 }

 .error-msg {
  display: block;
  position: absolute;
  font-size: 75%;
  bottom: -2em;
}
.error{
    color: red;
} 

.subjects{
    border: 2px solid blue;
    width: 328px;
}
.check{
    width: 320px;
    padding: 1em;
}
.forinline{
display: inline-flex;
width: 310px;
height: 20px;
}