<div class="container">
  <div class="row">
    <div class="col s12">




      <div *ngIf="userForm.invalid && !formSubmitted" [ngClass]="'error'"> Form not validated. </div>
      <div *ngIf="formSubmitted" [ngClass]="'success'"> Form submitted successfully. </div> <br />
      <div class="form-group">
        <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
          <div>
            <input mdbInput class="margin" formControlName="name" placeholder="Enter Name">
            <div *ngIf="userForm.controls['name'].dirty  &&userForm.controls['name'].errors" class="error">
              <div *ngIf="userForm.controls['name'].errors.required">
                Full name required.
              </div>
            </div>
            <div *ngIf="userForm.controls['name'].hasError('minlength')"   class="error">
              Minimum length should be 3.
            </div>
            <div *ngIf="userForm.controls['name'].hasError('maxlength')" class="error">
              Maximum length should be 10.
            </div>

          </div>

          <div>
            <input mdbInput class="margin" formControlName="phonenumber" placeholder="Enter phonenumber ">
            
              <div *ngIf="userForm.controls['phonenumber'].errors?.required&&(userForm.controls['phonenumber'].dirty || userForm.controls['phonenumber'].touched)" class="error">
               phonenumber required.
              </div>
             <div *ngIf="userForm.controls['phonenumber'].invalid && !userForm.controls['phonenumber'].errors?.required&&
       
        (userForm.controls['phonenumber'].dirty || userForm.controls['phonenumber'].touched)" class="error">
Phonenumber should be 10 digit
          </div>

          </div>

          <div>
            <input mdbInput class="margin" formControlName="dateofbirth" placeholder="Enter dateofbirth ">
             <div *ngIf="userForm.controls['dateofbirth'].errors?.required&&(userForm.controls['dateofbirth'].dirty || userForm.controls['dateofbirth'].touched)" class="error">
               dateofbirth required.
              </div>
             <div *ngIf="userForm.controls['dateofbirth'].invalid && !userForm.controls['dateofbirth'].errors?.required&&
       
        (userForm.controls['dateofbirth'].dirty || userForm.controls['dateofbirth'].touched)" class="error">
Birthdate should be in yyyy-mm-dd format
          </div>

          </div>
          
          <div class="check">
            <label>Select gender:</label>
          <label class="forinline">
            <span>male</span>
     <input type="radio" value="Male" formControlName="gender">
       
   </label>
   <label class="forinline">
     <span>female</span>
     <input type="radio" value="Female" formControlName="gender">
       
   </label>
          </div>
          <div formArrayName="address">
            <div *ngFor="let skills of address.controls; index as idx">
              <input mdbInput class="margin" [formControlName]="idx" placeholder="Enter adddress">
              <button type="button" (click)="deleteaddressField(idx)">Delete</button>
              <button class="marginp" type="button" (click)="addaddressField()">Add more adddress</button>
            </div>
          </div>





          <div formArrayName="Subjects">
            <div *ngFor="let skills of Subjects.controls; index as idx" class="subjects">
              <input mdbInput class="margin" [formControlName]="idx"
                placeholder="Enter subjects marks of {{this.subjectlist[idx]}} ">


            </div>
          </div>



          <div>
            <button type="submit" [disabled]="!userForm.valid" [disabled]="!userForm.valid">Submit</button>

          </div>
        </form>
        <div>
          <div class="col s7">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
